@mixin icons-fontello {

	@font-face {
	  font-family: 'fontello';
	  src: url(fontello.eot);
	  src: url(fontello.eot?#iefix) format('embedded-opentype'), url(fontello.woff) format('woff'), url(fontello.ttf) format('truetype'), url(fontello.svg#fontello) format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	[class^="icon-"] > .v-button-wrap:before,
	[class*=" icon-"] > .v-button-wrap:before,
	[class^="icon-"].v-nativebutton:before,
	[class*=" icon-"].v-nativebutton:before,
	[class^="icon-"].v-label:before,
	[class*=" icon-"].v-label:before,
	[class*="-icon-"].v-menubar-menuitem:before {
	  font-family: 'fontello';
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  display: inline-block;
	  text-decoration: inherit;
	  text-align: center;
	  line-height: 1;
	  margin-right: .4em;
	  vertical-align: 1px;
	}
	
	[class^="icon-"] > .v-button-wrap:before,
	[class*=" icon-"] > .v-button-wrap:before,
	[class^="icon-"].v-nativebutton:before,
	[class*=" icon-"].v-nativebutton:before {
		margin: 0;
		margin-left: -.3em;
	}
	
	[class^="icon-"] > span > .v-button-caption,
	[class^="icon-"] > .v-nativebutton-caption,
	[class*=" icon-"] > span > .v-button-caption,
	[class*=" icon-"] > .v-nativebutton-caption {
	  margin-left: .3em;
	}
	
	@include icon(home, '\e800');
	@include icon(gena, '\e81f');
	@include icon(xilinx, '\e843');
	
	@include icon(cog, '\e845');
	@include icon(user, '\e84d');
	@include icon(attention, '\e811');
	@include icon(edit, '\e846');
	@include icon(bell, '\e84b');
	@include icon(cancel, '\e849');
	
}