@mixin login {
	
	.login-image {
		background-repeat: no-repeat;
		background-position: top left;
		cursor: pointer;
		width: 20px;
		height: 20px;
		background-image: url(../../img/login20x20.png);
	}
		
	.login-image:hover {
		background-image: url(../../img/login20x20_hover.png);
	}
	
}