@mixin notification {
	
	.notification-error {
		border-radius: 0px !important;
		background-color: rgba(128,0,0,0.5) !important;
	}

	.notification-error:hover {
	    background-color: rgba(128,0,0,0.75) !important;
	}
	
}