@mixin page-caption {

	.page-content {
		width: 100%;
	}

	.page-caption {
		width: 100%;
		padding-bottom: 5px;
		margin-bottom: 5px;
		background-repeat: repeat-x;
		background-position: bottom;
		background-image: url(../../img/page/caption-line-separator.png);
		
		.v-image {
			padding: 0 5px 2px 0;
		}
		
	}
}